/* ErrorPage.css */

.error-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0; /* Set your desired background color */
  }
  
  .error-content {
    text-align: center;
    padding: 20px;
  }
  
  /* Responsive styling */
  @media (min-width: 640px) {
    .error-content {
      max-width: 80%;
    }
  }
  
  @media (min-width: 768px) {
    .error-content {
      max-width: 60%;
    }
  }
  
  @media (min-width: 1024px) {
    .error-content {
      max-width: 40%;
    }
  }
  